<div class="center">
  <label for="zoom">Zoom:</label>
  <p>
    <button 
      id="minus"
      class="ui icon button"
      onClick = {{action "onZoomChange" -100}}
    >
      <i class="minus icon"></i>
    </button>
    <button 
      id="plus"
      class="ui icon button"
      onClick = {{action "onZoomChange" 100}}
    >
      <i class="plus icon"></i>
    </button>
  </p>
</div>
{{yield}}