<div class="nav">
  {{precision-slider 
    precision=precision
  }}
  {{color-list
    color=color
  }}
</div>
{{display-area
  color=color
  formula=formula
  position=position
  precision=precision
}}

{{outlet}}